.automation-card {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    gap: 15px;
}

.set-time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.set-time input,
.am-pm-toggle {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: #151515;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.am-pm-toggle {
    width: 60px;
}

.am-pm-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
