#temperature-selector {
    color: #fff;
    background-color: #151515;
}

.current-temperature {
    display: flex;
    color: white;
    padding: 20px;
    width: 100%;
    background: #2a2a2a;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}
