/* @import "tailwindcss"; */

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter_18pt-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter_18pt-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter_18pt-SemiBold.ttf");
    font-weight: 500;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-title {
    font-size: 16px;
    color: #5b5b5b;
    font-weight: 500;
}

.icon-text {
    color: white;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
}
